@import "./abstracts/variables.scss";
@import "./abstracts/mixins.scss";
@import "./components/top_bottom.scss";
@import "./components/overlay.scss";
@import "./components/buttons.scss";
@import "./components/forms.scss";
@import "./components/posts.scss";
@import "./components/loader.scss";
@import "./components/typography.scss";

body{
    // background-image:radial-gradient(circle at top, $bluegrey_level_1, transparent),
    // radial-gradient(circle at center, $white_level_1, transparent),
    // radial-gradient(circle at bottom, $white_level_1, transparent);
    background-image:radial-gradient(circle at right top, $pastel_red, transparent),
    radial-gradient(circle at left bottom, $pastel_orange, transparent);
    // ,linear-gradient(to bottom,transparent 0% 80%,rgba(black,1) 90%,rgba(black,1) 100%);
    // @include background_image_linearGradient(to bottom,$white_level_1,0%,80%,$bluegrey_level_1,100%);   
    background-position: center;
    background-size:cover;
    background-repeat:no-repeat;
    min-height:100vh;
    position:relative;
}

#root{
    position:relative;
    margin:0 1rem;
    
}

