.navigation {
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  width: 98%;
  height: 120px;
  background-image: linear-gradient(to right bottom, rgba(60, 110, 170, 0.5), rgba(170, 110, 170, 0.5));
  position: fixed;
  display: flex;
  justify-content: space-around;
  align-items: center; }
  .navigation__button {
    cursor: pointer;
    color: #eee;
    font-size: 1.6rem;
    background-color: #1ec8a0;
    outline: none;
    border: none;
    width: 15%;
    height: 80%;
    transition: transform 0.3s,box-shadow 0.3s; }
    .navigation__button:hover {
      -webkit-box-shadow: 0.4rem 0.4rem 0.3rem rgba(0, 0, 0, 0.3);
      -moz-box-shadow: 0.4rem 0.4rem 0.3rem rgba(0, 0, 0, 0.3);
      box-shadow: 0.4rem 0.4rem 0.3rem rgba(0, 0, 0, 0.3);
      transform: translateY(-5px); }
    .navigation__button:active {
      -webkit-box-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.3);
      -moz-box-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.3);
      box-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.3);
      transform: translateY(-3px); }

body {
  position: relative;
  margin: 15px; }
