.overlay{
    position:fixed;
    height:100vh;
    top:0%;
    left:0%;
    z-index:1000;
    width:100vw;
    max-width:0vw;
    background-image:linear-gradient(to right bottom,rgb(60,110,170) 0%,rgb(60,110,170) 90%,$green_level_1 100%);
    transition:max-width 0.3s;
    overflow:hidden;
}

.overlay.shown{
    max-width:100vw;
}

.overlay .content{
    text-align:center;
    color:$white_level_1;
    font-family:$fontFamily_1;
    opacity:0;
    position:absolute;
    transition:opacity 2s;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    font-size:5rem;
    
}

.overlay .content.shown{
    opacity:1;
}

.overlay .content .section_category{
    padding:1rem 2rem;
    
    background: linear-gradient(to right, transparent 0%,transparent 50%,$green_level_1 50%,$green_level_1 100%);    
	background-size: 200% 100%;		
    background-position:-0.1%;
    
    transition:background-position 0.3s,letter-spacing 0.1s;
}

.overlay .content .section_category:hover{
    background-position:100%; 
    letter-spacing:1.1rem;
}

.closeBtn{
    cursor:pointer;
    opacity:0;
    color:#bd2c00;
    font-size:0.2rem;
    position:fixed;
    top:5%;
    left:5%;
    transition-delay:0.4s;
    transition: opacity 0.4s,font-size 0.1s;
}

.closeBtn.shown{
    opacity:1;
    font-size:2rem;
}