//color theme
$blue_level_1:rgb(60,110,170);
$red_level_1:rgb(170,110,170);
$red_level_2:#bd2c00;
$green_level_1:rgb(30,200,160);
$grey_level_1: rgb(190,190,190);
$white_level_1:#eee;
$bluegrey_level_1:#37474f;
$bluegrey_level_2: #263238;

//pastels
$pastel_red:rgb(255,179,186);
$pastel_orange:rgb(255,223,186);
$pastel_yellow:rgb(255,255,186);
$pastel_green: rgb(186,255,201);
$pastel_blue: rgb(186,225,255);

$shadow_color_level_1: rgba(0,0,0,0.3);

$text_shadow_embossed: -1px -1px 2px #fff, 1px 1px 2px #000;


$hover_lift_1: rotateX(0deg) translateY(-5px);
$active_press_1: rotateX(0deg) translateY(-3px);

$fontFamily_1:"Vollkorn",serif;
$fontFamily_2:"Ubuntu Mono",monospace;