$blue_level_1:rgba(60,110,170,0.5);
$red_level_1:rgba(170,110,170,0.5);
$green_level_1:rgb(30,200,160);
$white_level_1:#eee;

$shadow_color_level_1: rgba(0,0,0,0.3);


$hover_lift_1:translateY(-5px);
$active_press_1:translateY(-3px);